.standard-input {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 2%;
    height: 15px;
}

@media (min-width:500px) {
    .standard-input {
        padding: 0.5%;
    }    
    .counter {
        padding: 1.5%;
    }
}