.standard-button {
    margin-top: 13px;
}

.menu {
    height: 98.75%;
    color: white;
    position: absolute;
    top: 0%;
    z-index: 1;
    margin-left: 100%;
    background-color: black;
    animation: open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border: 1px solid grey;
    padding:1%
}

.menu-icon {
    position: absolute;
    top: 2.5%;
    left:85%;
    float: right;
}

.menu-item {
    background-color: rgb(51, 49, 49);
    margin-top: 4%;
    width: calc(0.405 * 100vw);
    text-align: left;
    padding: 15px;
}

@media (min-width:400px) {
    .menu-item {
        background-color: rgb(51, 49, 49);
        margin-top: 2%;
        width: calc(0.36 * 100vw);
        text-align: left;
        padding: 15px;
    }
    .menu {
        color: white;
        position: absolute;
        margin-left: 100%;
        background-color: black;
        animation: opentwo;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        border: 1px solid grey;
        padding:1%
    }

    @keyframes opentwo {
        0% {
            margin-left: 100%;
        }
        100% {
            margin-left: 60%;
        }
    }
    
    
}

@keyframes open {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 49%;
    }
}