.room-creator {
    margin: 4% 14%;
    margin-top: 20vh;
    padding: 4% 0%;
    border: 1px solid white;
    border-radius: 14px;
}

@keyframes slideup {
    0% {
        top:100%;
    }
    100% {
        top: 50%;
    }
}