.standard-button {
    margin-top: 13px;
}

.button-group {
    height: 100%;
    margin-top: 55%;
}

@media (min-width:400px) {
    .button-group {
        height: 100%;
        margin-top: 18%;
    }
}