.mid-screen {
    padding: 79% 0;
}

.mid-screen h1 {
    margin: 0% 15%;
}



@media (min-width:400px) {
    .mid-screen {
        padding: 20% 0;
    }
    
    .mid-screen h1 {
        margin: 0% 15%;
    }
        
}